<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hobbies</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <link rel="stylesheet" 
        href="../resources/css/style.css">

  </head>
  <body>
      <body>
          <nav class="navbar navbar-expand-lg bg-body-secondary">
              <div class="container-fluid">
                  <button
                      class="navbar-toggler"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#navbarNav"
                      aria-controls="navbarNav"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                  >
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div
                      class="collapse navbar-collapse position-relative"
                      id="navbarNav"
                  >
                      <div class="w-100 d-flex justify-content-center">
                      <ul class="navbar-nav">
                          <li class="nav-item">
                              <a
                                  class="nav-link"
                                  aria-current="page"
                                  href="home.html"
                                  >Main</a
                              >
                          </li>
                          <li class="nav-item">
                              <a
                                  class="nav-link active"
                                  aria-current="page"
                                  href="hobbies.html"
                                  >Hobbies</a>
                          </li>
                          <li class="nav-item">
                              <a
                                  class="nav-link"
                                  aria-current="page"
                                  href="projects.html"
                                  >Projects</a>
                          </li>
                          <li class="nav-item">
                              <a
                                  class="nav-link"
                                  aria-current="page"
                                  href="resume.html"
                                  >Resumes</a>
                          </li>
                      </ul>
                      <a class="navbar-brand ms-auto position-absolute end-0 top-50 translate-middle-y"href="home.html">
                          <img
                              src="../resources/Images/SpartainsLogo.png"
                              alt="Logo"
                              width="30"
                              height="30"=
                          />
                      </a>
                  </div>
              </div>
          </nav>

          <div class="container my-5">
            <h2 class="text-center mb-4">Fred Zorgdrager's Resume</h2>

            <div class="table-responsive">
              <table class="table table-bordered align-middle">
                <tbody>
                  <tr class="table-light">
                    <td colspan="2" class="text-center">
                      <div>Boulder, CO ∙ fredzorg@icloud.com ∙ (720) 937-1760 ∙ linkedin.com/in/fred-zorgdrager/</div>
                    </td>
                  </tr>

                  <style>
                    .resume-section { border-bottom: 3px solid #000; font-weight: 800; }
                  </style>
                  <tr>
                    <th colspan="2" class="resume-section table-secondary">EDUCATION</th>
                  </tr>
                  <tr class="align-baseline">
                    <td class="fw-bold" style="width: 75%">University of Colorado Boulder – College of Engineering</td>
                    <td class="text-end">Anticipated Spring 2028</td>
                  </tr>
                  <tr>
                    <td colspan="2">B.S. in Computer Science with a Minor in Business</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      Cumulative GPA: 3.45 | Relevant Coursework: Discrete Structures, Data Structures, Calculus II, Software Development, Algorithms
                    </td>
                  </tr>

                  <tr class="table-secondary">
                    <th colspan="2">CONSULTING EXPERIENCE</th>
                  </tr>

                  <tr>
                    <td><b>Leeds Consulting Group (LCG)</b></td>
                    <td>February 2025-Present</td>
                  </tr>
                  <tr>
                    <td><em>VP of Membership - Senior Analyst</em></td>
                    <td>Boulder, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Authored a case interview and grading rubric adopted in candidate assessments to evaluate prospective members.</li>
                            <li>Facilitated weekly meetings while coordinating communications across members, applicants, and external organizations.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2"><em>Hyland Hills Project Manager (LCG)</em></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Led a 4-person analyst team in a client engagement with Hyland Hills.</li>
                            <li>Co-developed sustainability driven business solutions projected to improve profitability by $6.42M over ten years.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2"><em>Young Americans Bank (YAB) Consultant (LCG)</em></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Consulted with Young Americans Bank, the world’s only FDIC-insured bank exclusively for people under 21.</li>
                            <li>Strengthened customer-pipeline retention through research, data analysis, and strategic recommendations.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                  <td><b>Student Led Chess Association</b></td>
                    <td>August 2025-Present</td>
                  </tr>
                  <tr>
                    <td>Board Member - Finance and Technology Focus</td>
                    <td>National</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                           <li>Developed nonprofit compliance expertise to advise the finance team on restoring SLCA’s 501(c)(3) status, collaborating with cross-functional stakeholders despite limited prior nonprofit experience.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                      <td><b>Capital One Consult for America Case Competition</b></td>
                      <td>National</td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <ul class="mb-0 ps-8">
                            <li>Designed a product wireframe, conducted market research, and developed innovative business solutions for Capital One</li>
                            <li>Outperformed 100+ teams nationwide to earn 3rd place.</li>
                          </ul>
                      </td>
                  </tr>
                  <tr>
                      <td><b>Daniels Fund Business Ethics Debate</b></td>
                      <td>Boulder, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Competed against 40 competitors in debates on stakeholder centered business ethics.</li>
                            <li>advanced to finals alongside two upperclassmen competitors, including CU’s graduation speaker.</li>
                        </ul>
                    </td>
                  </tr>
                  
                  <tr class="table-secondary">
                    <th colspan="2">RELEVANT EXPERIENCE</th>
                  </tr>

                  <tr>
                    <td><b>Benson Center</b></td>
                    <td>August 2025-Present</td>
                  </tr>
                  <tr>
                    <td><em>Fellow</em></td>
                    <td>Boulder, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Engaged in cross-perspective dialogue and intellectual discourse, refining my ability to translate complex philosophical, political, and cultural ideas into clear arguments and frameworks usable in stakeholder settings.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Hike for Help (H4H)</b></td>
                    <td>March 2025-Present</td>
                  </tr>
                  <tr>
                    <td><em>Community Outreach Coordinator</em></td>
                    <td>Boulder, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Secured 6 companies and 1 school’s partnership to host H4H’s, a CU non-profit, annual shoe drive and expand donations.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Rocky Mountain Fresh</b></td>
                    <td>July 2023-Present</td>
                  </tr>
                  <tr>
                    <td><em>Sales Associate</em></td>
                    <td>Boulder, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Enhanced customer experience through tailored product recommendations and effective upselling, directly contributing to multiple record-setting sales days.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Iron Bear Trailer</b></td>
                    <td>May 2025-August 2025</td>
                  </tr>
                  <tr>
                    <td><em>Warehouse Operations and Fulfillment</em></td>
                    <td>Denver, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Collaborated with teammates from diverse cultural and socioeconomic backgrounds to build trust, strengthen communication, and help achieve the company’s largest single-day order fulfillment.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Threshold</b></td>
                    <td>October 2024-April 2025</td>
                  </tr>
                  <tr>
                    <td><em>Software Developer Intern</em></td>
                    <td>Boulder, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Partnered with the founder/CEO to translate complex technical ideas into user-focused designs, personally developing a new product and User Interface (UI) now deployed for customers.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Innovation Center Leadership Team (ICLT)</b></td>
                    <td>January 2022-June 2024</td>
                  </tr>
                  <tr>
                    <td><em>Founder and President</em></td>
                    <td>Longmont, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Secured $10,000+ in annual funding by crafting and pitching a strategic project proposal for the creation of the ICLT.</li>
                            <li>Organized collaborative events that fostered inclusive dialogue, leadership growth, and creative problem-solving skills.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Storm Guard Roofing and Construction</b></td>
                    <td>May 2023-June 2023</td>
                  </tr>
                  <tr>
                    <td><em>Sales Associate</em></td>
                    <td>Weld County, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Strengthened grit and resolve through door-to-door sales, converting the most leads into inspections in a single day that year.</li>
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Anark</b></td>
                    <td>October 2022-June 2023</td>
                  </tr>
                  <tr>
                    <td><em>Quality Assurance (QA) Engineer Intern</em></td>
                    <td>Longmont, CO</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <ul class="mb-0 ps-8">
                            <li>Collaborated with other QA engineers to identify 100+ software issues, personally uncovering a high level bug that could shut down Anark’s servers, ensuring a stable, reliable release.</li>
                        </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="container my-5">
            <div class="table-responsive">
                <table class="table table-bordered align-middle skills-table">
                <tbody>
                    <tr class="table-secondary">
                        <th colspan="2">SKILLS AND INTERESTS</th>
                    </tr>
                    <tr>
                        <td>Skills</td>
                        <td>Proficient in C++, Java, JavaScript, Python, PowerPoint, and Outlook; experienced in developing full-stack solutions and collaborating via Google Workspace tools. Linux Essentials Certification (2024).</td>
                    </tr>
                    <tr>
                        <td>Interests</td>
                        <td>Chess, tennis, volleyball, I love The Office, Parks and Rec, Brooklyn 99 and Jim Gaffigan. Go Green and SKO Buffs.</td>
                    </tr> 
                </tbody>
                </table>
            </div>
          </div>


    <footer class="bg-body-tertiary border-top py-4">
        <div class="container">
            <div class="row text-center text-md-start align-items-center">
                <div class="col-md-6 mb-3 mb-md-0">
                    <h5 class="fw-bold mb-2">Contact</h5>
                    <p class="mb-0">School Email: <a href="mailto:frzo5387@colorado.edu">frzo5387@colorado.edu</a></p>
                    <p class="mb-0">Personal Email: <a href="mailto:fredzorg@icloud.com">fredzorg@icloud.com</a></p>
                </div>

                <div class="col-md-6 text-md-end">
                <p class="mb-2">Connect with me:</p>
                <a href="https://github.com/FredZorg" class="me-3 text-dark text-decoration-none">
                    <i class="fa-brands fa-github fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/freggster/" class="me-3 text-dark text-decoration-none">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/fred-zorgdrager/" class="text-dark text-decoration-none">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </a>
                </div>
            </div>
        </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
